<div class="text-center">
    <h1 class="display-4">Challenges</h1>
</div>
<div class="row pl-5 ml-1">
    <div class="card-deck">
        <div class="card mb-4" style="min-width: 20rem; max-width: 20rem;">
            <img src="~/img/testChallenge.png" class="card-img-top" alt="..." width="200">
            <div class="card-body">
                <h5 class="card-title">Challenge 1</h5>
                <p class="card-text">Points: 10/10 <span class="badge badge-success">Cleared</span></p>
                <a href="#" class="btn btn-primary">Play</a>
            </div>
        </div>
</div>