@{
    ViewData["Title"] = "Session Management Page";
}

<div class="text-center">
    <h1 class="display-4">Session Management</h1>
</div>
<div class="d-inline col-sm-6">
    <a class="btn btn-primary btn-block" type="button" asp-area="" asp-controller="GameSession" asp-action="CreateSession">Create Session</a>
</div>
<div class="d-inline col-sm-6">
    <a class="btn btn-primary btn-block" type="button" asp-area="" asp-controller="GameSession" asp-action="Index">Modify Session</a>
</div>
<div class="d-inline col-sm-6">
    <a class="btn btn-primary btn-block" type="button" asp-area="" asp-controller="GameSession" asp-action="Index">Remove Session</a>
</div>
<div class="d-inline col-sm-6">
    <a class="btn btn-primary btn-block" type="button" asp-area="" asp-controller="GameSession" asp-action="Index">Start/ End Session</a>
</div>