<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Manage Facilitator Accounts</h5>
            <ul>
                <li><a href="#" class="card-link">Create New Facilitator Account</a></li>
                <li><a href="#" class="card-link">Modify Facilitator Account</a></li>
                <li><a href="#" class="card-link">Remove Facilitator Account</a></li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Manage Game Sessions</h5>
            <ul>
                <li><a href="#" class="card-link">Create New Game Session</a></li>
                <li><a href="#" class="card-link">Modify Game Sessions</a></li>
                <li><a href="#" class="card-link">Remove Game Session</a></li>
                <li><a href="#" class="card-link">Start/Stop Game Session</a></li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Manage Challenges</h5>
            <ul>
                <li><a href="#" class="card-link">Create New Challenge</a></li>
                <li><a href="#" class="card-link">Modify Challenge Information</a></li>
                <li><a href="#" class="card-link">Remove Challenge</a></li>
            </ul>
        </div>
    </div>
</div>