<div class="text-center">
    <h1 class="display-4">Admin Login</h1>
</div>
<div class="col-md-6 mx-auto">
    <form>
        <div class="form-group">
            <label for="tbUsername">Username</label>
            <input type="text" class="form-control" id="tbUsername">
        </div>
        <div class="form-group">
            <label for="tbPassword">Password</label>
            <input type="password" class="form-control" id="tbPassword">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
</div>